*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-height: 100px;
}

.page-wrapper {
    display: flex;
    min-height: 100vh;
}

.header-content-block {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.header {
    height: var(--header-height);
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    height: 100%;
    background-color: cadetblue;
    padding: 15px;
}

/* Sidebar */

.sidebar-container {
    min-height: auto;
    position: relative;
}

.sidebar-container {
    transition: width 300ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}

.sidebar-block {
    background-color: peachpuff;
    height: 100vh;
    position: fixed;
    z-index: 10;
    transition: width 300ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}

.nav {
    width: 280px;
    padding-top: 10px;
    padding-left: 25px;
    transition: 300ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}

.nav-list {
    list-style: none;
}

.sidebar-block > div:first-of-type {
    text-align: end;
}

.overlay {
    height: 100vh;
    position: fixed;
    width: 0%;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 560px) {
    .sidebar-container {
        width: 48px;
    }
    .nav {
        margin-left: -280px;
    }
    .sidebar-block {
        width: 48px;
    }

    .overlay-on {
        animation: appear-overlay 300ms;
        animation-timing-function: cubic-bezier(0.4,0,0.2,1);
    }
    
    @keyframes appear-overlay {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .overlay-off {
        animation: vanish-overlay 300ms;
        animation-timing-function: cubic-bezier(0.4,0,0.2,1);
    }

    @keyframes vanish-overlay {
        from {
            width: calc(100vw - 48px);
            opacity: 1;
        }
        to {
            width: calc(100vw - 48px);
            opacity: 0;
        }
    }
}

@media screen and (min-width: 561px) {
    .nav {
        margin-left: 0;
    }
    .sidebar-block {
        width: 280px;
    }
    .sidebar-container {
        width: 280px;
    }
}

/* Add Task Form */

.task-form {
    display: flex;
    flex-direction: column;
}

.add-task-btn {
    margin-bottom: 10px;
}

.task-form input[type="text"],
.task-form textarea
 {  
    height: 20px;
    border: none;
    outline: none;
}

.task-form textarea {
    resize: none;
    line-height: 20px;
}



