@font-face {
    font-family: 'MyFont';
    src: url('./fonts/Ubuntu/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
    font-style: normal;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MyFont', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:root {
    font-size: 16px;
    --header-height: 100px;
    --section-bg-color: #e7e5e4; 
    --sidebar-bg-color: #0c0a09;
    --sidebar-li-hover-color: #e7e5e4;
    --sidebar-selected-tab: var(--sidebar-bg-color);
    --sidebar-selected-tab-bg: #e7e5e4;
    --bottom-line-color: #d6d3d1;
    --dotted-line-color: #a8a29e;
    --dropzone-bg-color: #d6d3d1;
    --current-day-color: #ef4444;
    --placeholder-color: var(--sidebar-bg-color);
    --textarea-color: #44403c;
    --form-btn-bg-color: #d6d3d1;
    --disabled-add-task-btn-color: #d6d3d199;
    --modal-bg-color: #f5f5f4;
}

.page-wrapper {
    display: flex;
    min-height: 100vh;
}

.header-content-block {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

input,
textarea {
    appearance: none;
}

/* Project logo */

.header-img-container {
    height: var(--header-height);
    background-color: var(--section-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.project-logo svg {
    width: 56px;
    height: auto;
}

.header-img-container > span:first-child {
    font-size: 3.5rem;
}

section.inbox-section .section-header,
section.today-section .section-header,
section.week-section > .section-header,
section.project-section .section-header {
    background-color: var(--section-bg-color);
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

/* section-wrapper */

.section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-wrapper > section.section {
    flex: 1;
    width: clamp(250px, 100%, 910px);
    margin-bottom: 50px;
}




/* __Sidebar__ */

.sidebar-container {
    min-height: auto;
    position: relative;

    transition: width 300ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}

.sidebar-block {
    color: var(--section-bg-color);
    background-color: var(--sidebar-bg-color);
    height: 100vh;
    position: fixed;
    z-index: 10;
    transition: width 300ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}

.nav {
    width: 280px;
    transition: 300ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 25px;
}

/* nav buttons */

.nav-btn,
.project-btn {
    padding: 5px;
}

.nav-btn {
    flex-grow: 1;
    text-align: start;
}

.btns-list {
    padding-bottom: 25px;
}

.projects-list {
    padding-top: 15px;
}

.btns-list,
.projects-list {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.btns-list li {
    display: flex;
    gap: 4px;
}

.project-drop h1 {
    font-size: 20px;
 }

.project-drop > div:first-of-type {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.add-project-block {
    margin-top: 4px
}

.nav .add-project-btn {
    display: inline-block;
    width: 100%;
    text-align: start;
    padding: 5px;
}

.nav-btn,
.add-project-btn,
.cancel-project-btn,
.create-project-btn,
.project-btn,
.project-delete-btn {
    font-size: 18px;
    outline: none;
    border: none;
    color: var(--section-bg-color);
    background-color: transparent;
    background-repeat: no-repeat;
    overflow: hidden;
}

.sidebar-block li,
.project-drop > div:first-child,
.nav .add-project-btn,
.project-form-container > div button:enabled {
    padding-right: 5px;
    border-radius: 5px;
    border: 1px solid var(--sidebar-bg-color);
    &:hover {
        border-color: var(--sidebar-li-hover-color);
    }
}

.sidebar-block .tab-open {
    .nav-btn,
    .project-btn {
        color: var(--sidebar-selected-tab);
    }
    color: var(--sidebar-selected-tab);
    background-color: var(--sidebar-selected-tab-bg);
}

.sidebar-block .nav li.tab-open:hover {
        background-color: var(--sidebar-selected-tab-bg);
        
}

.project-form-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 5px;
}

.project-form-container input[type="text"] {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 3px;
    background-color: var(--section-bg-color);
    color: #000000;
}

.project-form-container > div {
    display: flex;
    justify-content: end;
    gap: 3px;
}

.project-form-container > div button {
    font-size: 16px;
    padding: 5px

}

.project-btn {
    flex-grow: 1;
    text-align: start;
}

.project-btns-container .project-delete-btn {
    font-size: 15px;
    opacity: 0;
    transition: opacity .15s ease-in;
}

.projects-list li {
    &:hover {
        .project-delete-btn {
            opacity: 1;
        }
    }
}

.projects-list .tab-open {
    :hover {
        .project-delete-btn {
            color: var(--sidebar-bg-color);
            font-weight: 700;
        }
    }
}

/* Drop down */

.project-drop {
    position: relative;
}

.projects-container {
    position: absolute;
    width: 240px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(0.5rem);
    transition: all 0.3s cubic-bezier(0.4,0,0.2,1);
}

.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0rem);
}

.project-drop-down-btn {
    transition: transform 0.3s cubic-bezier(0.4,0,0.2,1);
}

.arrow {
    transform: rotate(180deg);
    transition: transform 0.3s cubic-bezier(0.4,0,0.2,1);
}

.project-drop-down-btn svg {
    width: 18px;
    height: auto;
}

.project-drop-down-btn:hover svg {
    width: 20px;
    height: auto;
}


.task-count {
    font-size: 15px;
    margin-left: auto;
    min-width: 17px;
    min-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-list li div {
   display: flex;
   gap: 10px;
}

.project-btns-container {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

 /* button animation */
.open-close-btn,
.edit-task-btn {
    transition: 0.3s all;
}

.open-close-btn:hover,
.edit-task-btn:hover {
    transform: scale(1.10);
}

.project-btn::-webkit-scrollbar {
    display: none;
}

.project-btn {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sidebar-block > div:first-of-type {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

.open-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: auto;
}

.open-close-btn svg {
    width: 22px;
    height: auto;
}

.project-drop-down-btn {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: auto;
}

.overlay {
    height: 100vh;
    position: fixed;
    width: 0%;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: #00000080;
}

@media screen and (max-width: 560px) {
    .sidebar-block > div:first-of-type {
        justify-content: center;
        padding-right: 0;
    }
    .sidebar-container {
        width: 48px;
    }
    .nav {
        margin-left: -280px;
    }
    .sidebar-block {
        width: 48px;
    }
    .overlay-on {
        animation: appear-overlay 300ms;
        animation-timing-function: cubic-bezier(0.4,0,0.2,1);
    }
    
    @keyframes appear-overlay {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
    .overlay-off {
        animation: vanish-overlay 300ms;
        animation-timing-function: cubic-bezier(0.4,0,0.2,1);
    }

    @keyframes vanish-overlay {
        from {
            width: calc(100vw - 48px);
            opacity: 1;
        }
        to {
            width: calc(100vw - 48px);
            opacity: 0;
        }
    }
    .day-date span:first-child {
        display: none;
    }
    .day-date span + span {
        text-align: center;
    }
    .button-form-container form > div + div {
        justify-content: start;
    }   
    .header-content-block {
        width: calc(100vw - 48px)
    }
}

@media screen and (min-width: 560px) {
    .sidebar-block > div:first-of-type {
        justify-content: end;
        padding-right: 17px;
    }
    .nav {
        margin-left: 0;
    }
    .sidebar-block {
        width: 280px;
    }
    .sidebar-container {
        width: 280px;
    }

    .day-date span:first-child {
        display: inline-block;
    }
    .day-date span + span {
        text-align: start;
    }
    .button-form-container form > div + div {
        justify-content: end;
    }   
    .header-content-block {
        width: calc(100vw - 280px)
    }
}

/* __Main__ */
.section-wrapper {
    height: 100%;
    background-color: var(--section-bg-color);
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.section .section-heading {
    margin-bottom: 10px;
}

.section header.section-header {
    padding-top: 15px;
    padding-bottom: 15px;
}

.sub-section header.section-header .button-form-container {
    margin-bottom: 10px;
}

.sub-section .section-heading {
    font-size: 19px;
    margin-bottom: 5px;
}

.section .add-task-btn {
    font-size: 16px;
}

.sub-section .add-task-btn {
    font-size: 14px;
}

.add-task-btn {
    outline: none;
    border: none;
    padding: 5px;
    background-color: var(--section-bg-color);
    color: var(--sidebar-bg-color);
    border-radius: 5px;
}

.add-task-btn:hover {
    background-color: var(--sidebar-bg-color);
    color: var(--section-bg-color);
}

/* Add Task Form */

.data-form {
    display: flex;
    flex-direction: column;
}

.btn {
    cursor: pointer;
}

.enabled-btn:disabled {
    cursor: not-allowed;
}

input[type="text"]::placeholder {
    color: #000000;
}

.data-form textarea::placeholder {
    color: var(--textarea-color);
}

.data-form input[type="text"] {
    color: #000000;
    height: 20px;
}

.data-form textarea {
    color: var(--textarea-color);
    display: block;
    overflow: auto; 
    resize: none;
    height: 20px;
    max-height: auto;
    line-height: 20px;
}

.data-form input[type="text"],
.data-form textarea
 {  
    border: none;
    outline: none;
    background-color: var(--section-bg-color);
}

.task-form-cancel-btn, 
.task-form-add-btn {
    color: var(--sidebar-bg-color);
    background-color: var(--form-btn-bg-color);
}

.popup-cancel-btn, 
.popup-discard-btn,
.task-form-cancel-btn, 
.task-form-add-btn,
.edit-task-add-btn,
.edit-task-cancel-btn {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px; 
    transition: 0.3s all ;
}

.task-form-add-btn:disabled {
    background-color: var(--disabled-add-task-btn-color);
    color: #00000099;
}

.task-form-add-btn:enabled {
    color: #000000;
    background-color: var(--form-btn-bg-color);
}

.task-form-cancel-btn:hover, 
.task-form-add-btn:enabled:hover {
    background-color: var(--dotted-line-color);
}

.button-form-container form {
    border: 1px solid var(--dotted-line-color);
    border-radius: 10px;
}

.button-form-container form input[type="text"],
.button-form-container form textarea, 
.button-form-container form div {
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 7px;
}

.button-form-container form input[type="text"] {
    border-radius: 10px;
    padding-top: 7px;
}

.button-form-container form .elements-block {
    display: flex;
    gap: 7px;
}

.elements-block input,
.elements-block select {
    display: inline-block;
    align-self: flex-start;
    cursor: pointer;
    padding: 3px;
    outline: none;
    border: 1px solid var(--dotted-line-color);
    background-color: var(--section-bg-color);
}

.button-form-container form > div + div {
    display: flex;
    padding-bottom: 7px;
    margin-bottom: 0;
    gap: 7px;
}


/* Todo Li */

section ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.section li {
    outline: none;
    padding: 8px 0;
}

.todo.draggable {
    padding-left: 4px;
    padding-right: 4px;
}

.draggable {
    border-bottom: 1px solid var(--bottom-line-color);
}

li > div {
    display: flex;
    gap: 8px;
}

.task-first-block {
    padding-bottom: 4px;
}

li > div + div {
    display: flex;
    justify-content: space-between;
}

.optional-info p {
    font-size: 13px;
    padding-left: 28px;
}

.project-title {
    padding-left: 28px;
}

li > div + div span {
    font-size: 13px;
    display: inline-block;
    min-width: fit-content;
    align-self: end;
}

.delete-task-btn {
    border: 2px solid;
    border-radius: 50%;
    display: block;
}

.delete-btn-bg {
    padding: 8px;
    border-radius: 50%;
    display: block;
    pointer-events: none;
}

.urgent {
    background-color: #a62c2b33;
}

.high {
    background-color: #fdcc0d33;
}

.normal {
    background-color: #32527b33;
}

.low {
    background-color: #a0a1a133;
}

.task-title-container {
    flex-grow: 1;
    align-self: center;
}

.task-info-container p {
    flex-grow: 1;
}

.task-first-block button .delete-task-btn {
    transition: 0.3s all;
}

.task-first-block button.delete-task-btn:active {
    transform: scale(0.95);
}

.non-expanded-desc {
    cursor: pointer;
    width: clamp(40ch, 100%, 95ch);
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

.expanded-desc {
    cursor: pointer;
}

/* Modal */

.modal {
    min-height: 150px;
}

.modal,
.popup {
    border-radius: 5px;
    border: 1px solid;
    outline: none;
    margin: auto;
    width: 300px;
    background-color: var(--modal-bg-color);
}


.modal .edit-task input,
.modal .edit-task textarea,
.modal .edit-task select {
    background-color: var(--modal-bg-color);
}

.modal .edit-task input[type="text"], 
.modal .edit-task .elements-block {
    margin-bottom: 7px;
}

.modal .edit-task textarea {
    margin-bottom: 12px;
}

.modal .edit-task .elements-block {
    display: flex;
    gap: 7px;
}

.modal .edit-task > div + div {
    margin-top: 25px;
}

.popup div,
.modal .edit-task > div + div {
    display: flex;
    justify-content: end;
    gap: 7px
}

.popup-cancel-btn, 
.popup-discard-btn,
.edit-task-cancel-btn, 
.edit-task-add-btn:enabled {
    background-color: var(--section-bg-color);
}

.edit-task-add-btn:disabled {
    color: #00000099;
    background-color: var(--modal-bg-color);
}

.edit-task-add-btn:enabled {
    color: #000000;
}

.edit-task-add-btn:enabled:hover, 
.edit-task-cancel-btn:hover {
    background-color: var(--dropzone-bg-color);
}
 
.edit-task {
    padding: 15px
}

.modal::backdrop {
    background-color: #00000052;
}

.popup {
    margin: auto;
    min-height: 100px;
}

.popup p, 
.popup div {
    padding-left: 7px;
    padding-right: 7px;
}

.popup p,
.popup div {
    margin-top: 7px;
}

.popup div {
    margin-bottom: 7px;
}

.popup::backdrop {
    background-color: #00000099;
}

.popup-cancel-btn:hover, 
.popup-discard-btn:hover {
    background-color: var(--dropzone-bg-color);
}

.edit-task-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: auto;
}

.edit-task-btn svg {
    width: 20px;
    height: auto;
}


/* This week-related styles */

.dates-container {
    display: flex;
    justify-content: space-between;
}

.day-date span:first-child {
    text-align: end;
}

.day-date.current-day span:first-child,
.day-date.current-day span + span {
    text-align: center;
}

.day-date span {
    padding: 2px;
    border-radius: 8px;
}

.current-day {
    font-weight: bold;
    display: flex;
}

.current-day span:first-child {
    flex: 1;
}

.current-day span + span {
    flex: 2;
    color: white;
    background-color: var(--current-day-color);
}

.overdue-list .optional-info span {
    color: var(--current-day-color);
}

.day-before {
    color: gray;
}

.day-date span:first-child {

    width: 38px;
}

.day-date span + span {
    display: inline-block;
    width: 22px;
}

/* Project-related */

.projects .project-title {
    display: none;
}

/* Drag n Drop style */

/* 
1. Make opacity transition from 1 (default) to 0 (invisisble)
2. When opacity 0 - display: none to hide an li while dragging
*/
/* .week-list .dropzone {
    min-height: 15px;
} */

.draggable {
    cursor: move;
    user-select: none;
}

.over {
    border: 2px dotted var(--dotted-line-color);
}

.dragging {
    border: none;
}

.dropzone {
    min-height: 15px;
}

.over-dropzone {
    min-height: 60px;
    background-color: var(--dropzone-bg-color);
}